*, body{
  margin: 0;
  font-family: 'Inter', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    flex: 1;
    margin: 100px;
  }
  
  .text {
    flex: 1;
    font-size: 20px;
  }
  .footer {
    background-color: rgb(100, 105, 255);
    color: #fff;
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
  }